.heading {
    span {
        font-size: 14px;
    }
}

.alert {
    max-width: 456px;
}

.feedback-form-container {
    margin: 25px auto;
    max-width: 800px;

    .question {
        font-size: 16px;
        font-weight: 700;
    }

    .emoji-rating {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 4px;
        margin-left: 100px;

        .form-check {
            padding: 0;
            margin: 0;

            input {
                display: none;
            }

            label {
                width: 44px;
                max-width: 44px;
                height: 44px;
                max-height: 44px;
                cursor: pointer;
                filter: grayscale(1);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                }
            }

            input:hover+label,
            input:checked+label {
                filter: grayscale(0);
            }
        }
    }
}